/*

Variables


*/

// Colours
$background-color:#005248;
$color-primary: #FFFF00;
$other-color: #F7F2CB;
$bshadow: rgba(0, 20, 18, 0.8);
$shadow-n-stroke: #001412;


// TEXT BASICS
$text-size: calc(14px + 2vw);
$lineheight: 1.2em;

/* 

PAGE-WIDE CSS 

*/

title {
  display: none;
}

html,
body {

  // Canvas
  background: $background-color;
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  // Box sizing
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  // Set up CSS Grid
  display: grid;
  place-items: center;
  resize: both;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  // Center text/
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
  /*  justify-content: center;  */
  align-content: start;

  // Base typography 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-display: swap;
  -webkit-font-display: swap;
  color: $color-primary;
  font-variant-ligatures: normal;

  // Font Smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

;

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

;

/*

Set text elements stles

*/

a {
  color: $other-color;
  font-weight: bold;
}

;

.emphasis {
  font-style: italic;
}

;

.nobr {
  white-space: nowrap;
}

;

/*

Header

*/

.header {
  /* width: 100%; */
  /* position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky; */
  margin: 0;
  z-index: 100;
  color: $other-color;
  padding: 0;
}

;

h1 {
  font-size: calc(14px + 2vw);
  line-height: $lineheight;
  letter-spacing: inherit;
}

;

//Position Header "HOW TO FEEL MORE AT HOME" 
.how {
  position: fixed;
  top: 0;
  left: 0.1em;
  text-align: left;
  margin: 0;
}

;

.to {
  position: fixed;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
}

.feel {
  position: fixed;
  top: 0;
  right: 0.1em;
  text-align: right;
  margin: 0;
}

;

.more {
  position: fixed;
  bottom: 0;
  left: 0.1em;
  text-align: left;
  margin: 0;
}

;

.atclass{
  position: fixed;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
}

.home {
  position: fixed;
  bottom: 0;
  right: 0.1em;
  text-align: right;
  margin: 0;
}

;

/*

Main (POEM)

*/

.main {
  background-color: pink;

  // Place on the Grid
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
  margin: 3em 0 0 0;

  // Font size and line height
  font-size: $text-size;
  line-height: $lineheight;
  font-variant-ligatures: normal;

  /* Hide Scrollbars */
  -ms-overflow-style: none;
  // IE and Edge 
  scrollbar-width: none;
  // Firefox 
  overflow: -moz-hidden-unscrollable;
  overflow-y: hidden;
  overflow-x: hidden;

  // for Chrome, Safari and Opera 
  html::-webkit-scrollbar {
    display: none;
  }
}

;

p {
  margin: 0;
  padding: 0.4em;

  // Text Drop Shadow
  text-shadow: 3px 3px 3px $bshadow;
}

;

/*

 Responsive Text

*/

// For Tablets 
@media (max-width: 641px) {
  .main {
    padding: 0 5% 0 5%;
  }

  ;
}

;

// For Mobile 
@media (min-width: 641px) {
  .main {
    padding: 0 15% 0 15%;
  }
}

;

/*

Footer

*/

.footer {
  text-align: center;
  margin: 6em auto 6em auto;
}

;

/* 

Vertical Line 

*/

.vline {
  border-left: 10px solid $other-color;
  height: 250px;
  text-align: center;
  transform: translate(50%);
  opacity: 1;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}


// Load-in Animation
@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 1.5vw;
  }

  ;

  100% {
    opacity: 1;
    margin-top: 0;
  }

  ;
}

;

/* 

Assign Fade-in Animation

*/

p,
h1 {
  animation: fadein .2s forwards ease-out;
}

;