/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/* Welcome to Compass. Use this file to define print styles. Import this file using the following HTML or equivalent: <link href="/stylesheets/print.css"media="print"rel="stylesheet"type="text/css"/> */
/* line 10, ../sass/print.scss */
.box {
  display: none;
}

/* line 14, ../sass/print.scss */
a[href]:after {
  content: " (" attr(href) ")";
}

/* line 18, ../sass/print.scss */
a[href^="http"]:not([href*="example.com"]):after {
  content: " (" attr(href) ")";
}

@page {
  margin: 20px;
}
