/* Welcome to Compass. Use this file to define print styles. Import this file using the following HTML or equivalent: <link href="/stylesheets/print.css"media="print"rel="stylesheet"type="text/css"/> */
/* line 3, ../sass/print.scss */
.box {
  display: none;
}

/* line 7, ../sass/print.scss */
a[href]:after {
  content: " (" attr(href) ")";
}

/* line 11, ../sass/print.scss */
a[href^="http"]:not([href*="example.com"]):after {
  content: " (" attr(href) ")";
}

@page {
  margin: 20px;
}
