/*

Variables


*/
/* 

PAGE-WIDE CSS 

*/
/* line 30, ../sass/screen.scss */
title {
  display: none;
}

/* line 36, ../sass/screen.scss */
html,
body {
  background: #F7F2CB;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior: auto;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  resize: both;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
  justify-content: center;
  align-content: start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-display: swap;
  -webkit-font-display: swap;
  color: #FFFF00;
  font-variant-ligatures: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 93, ../sass/screen.scss */
::-webkit-scrollbar {
  width: 1em;
}

/* line 99, ../sass/screen.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* 

Play Button

*/
/* line 116, ../sass/screen.scss */
.container {
  display: inherit;
  visibility: visible;
  position: fixed;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 5;
}

/* line 131, ../sass/screen.scss */
#playBut {
  /*  border: 1px solid red;*/
  display: inline-block;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

/* line 140, ../sass/screen.scss */
.playBut img {
  width: 100%;
  height: auto;
}

/*

Main Text styles

*/
/* line 152, ../sass/screen.scss */
a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

/* line 161, ../sass/screen.scss */
small {
  font-size: calc(8px + 1vw);
  line-height: initial;
}

/* line 169, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 176, ../sass/screen.scss */
.nobr {
  white-space: nowrap;
}

/*

Header

*/
/* line 188, ../sass/screen.scss */
header,
.header, header h1 {
  color: #005248;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  letter-spacing: inherit;
}

/* line 203, ../sass/screen.scss */
h1.how {
  position: fixed;
  top: 0.1em;
  left: 0.1em;
  text-align: left;
  z-index: 4;
}

/* line 213, ../sass/screen.scss */
h1.to {
  position: fixed;
  top: 0.1em;
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
  z-index: 4;
}

/* line 225, ../sass/screen.scss */
h1.feel {
  position: fixed;
  top: 0.1em;
  right: 0.1em;
  text-align: right;
  margin: 0;
  z-index: 4;
}

/* line 236, ../sass/screen.scss */
h1.more {
  position: fixed;
  bottom: 0.1em;
  left: 0.1em;
  text-align: left;
  margin: 0;
  z-index: 4;
}

/* line 247, ../sass/screen.scss */
h1.at {
  position: fixed;
  bottom: 0.1em;
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
  z-index: 4;
}

/* line 259, ../sass/screen.scss */
h1.home {
  position: fixed;
  bottom: 0.1em;
  right: 0.1em;
  text-align: right;
  margin: 0;
  z-index: 4;
}

/* 

Position images

*/
/* line 276, ../sass/screen.scss */
header img {
  display: none;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  float: left;
  right: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*

Main (POEM)

*/
/* line 299, ../sass/screen.scss */
.main {
  visibility: hidden;
  display: none;
  z-index: 3;
  animation-delay: 0.2s;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
  margin: 3em 0 0 0;
  font-size: calc(14px + 2vw);
  line-height: 1.2em;
  font-variant-ligatures: normal;
}

/* line 321, ../sass/screen.scss */
p {
  margin: 0;
  padding: 0.4em;
  text-shadow: 3px 3px 3px rgba(0, 20, 18, 0.8);
}

/*

Set up Responsive Text

*/
@media (max-width: 641px) {
  /* line 340, ../sass/screen.scss */
  header h1, .header h1 {
    font-size: calc(14px + 4vw);
  }

  /* line 347, ../sass/screen.scss */
  header img, .header img {
    width: 50%;
    height: auto;
  }

  /* line 355, ../sass/screen.scss */
  .main {
    padding: 0 5% 0 5%;
  }

  /* line 362, ../sass/screen.scss */
  footer,
  .footer {
    padding: 0 5% 0 5%;
  }
}
@media (min-width: 641px) {
  /* line 376, ../sass/screen.scss */
  header h1, .header h1 {
    font-size: calc(14px + 3vw);
  }

  /* line 383, ../sass/screen.scss */
  header img, .header img {
    width: 25%;
  }

  /* line 390, ../sass/screen.scss */
  .main {
    padding: 0 15% 0 15%;
  }

  /* line 397, ../sass/screen.scss */
  footer,
  .footer {
    padding: 0 15% 0 15%;
  }
}
/* 

Footer 

*/
/* line 413, ../sass/screen.scss */
footer,
.footer {
  background-color: #F7F2CB;
  width: 100%;
  text-align: center;
  color: #005248;
  margin: 0 auto 8em auto;
  padding: 0;
  z-index: 2;
}

/* 

Vertical Line 

*/
/* line 432, ../sass/screen.scss */
.vline {
  border-left: 1px solid #F7F2CB;
  height: 4em;
  text-align: center;
  transform: translate(50%);
  opacity: 0;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 1.5vw;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 1.5vw;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
/* 

Assign Fade-in Animation

*/
/* line 488, ../sass/screen.scss */
p,
h1 {
  -webkit-animation: fadein .2s forwards ease-out;
  animation: fadein .2s forwards ease-out;
}

/* 

Hover 

*/
/* line 503, ../sass/screen.scss */
h1.how:hover,
h1.how.hover,
h1.to:hover,
h1.to.hover,
h1.feel:hover,
h1.feel.hover,
h1.more:hover,
h1.more.hover,
h1.at:hover,
h1.at.hover,
h1.home:hover,
h1.home.hover {
  font-style: italic;
}
